<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security.xsd">

    <http use-expressions="true">
        <custom-filter ref="csrfFilter" before="LOGOUT_FILTER" />
        <intercept-url pattern="/app/main**" access="hasRole('ROLE_USER')" />
        <intercept-url pattern="/app/event**" access="hasRole('ROLE_USER')" />
        <intercept-url pattern="/app/profile**" access="hasRole('ROLE_USER')" />
        <intercept-url pattern="/app/newevent**" access="hasRole('ROLE_USER')" />
        <access-denied-handler error-page="/app/403" />
        <form-login
            login-page="/app/login"
            default-target-url="/app/main"
            authentication-failure-url="/app/login?error"
            username-parameter="username"
            password-parameter="password" />
        <logout logout-success-url="/app/home" delete-cookies="JSESSIONID" invalidate-session="true"/>
        <csrf disabled="true"/>
    </http>

    <beans:bean id="csrfFilter" class="org.springframework.security.web.csrf.CsrfFilter">
        <beans:constructor-arg>
            <beans:bean class="org.springframework.security.web.csrf.HttpSessionCsrfTokenRepository">
                <beans:property name="headerName" value="X-SECURITY" />
            </beans:bean>
        </beans:constructor-arg>
    </beans:bean>

    <!--<http create-session="stateless" use-expressions="true" entry-point-ref="digestEntryPoint">-->
        <!--<intercept-url pattern="/api**" access="hasRole('ROLE_USER')" />-->
        <!--<http-basic />-->
        <!--<custom-filter ref="digestFilter" after="BASIC_AUTH_FILTER" />-->
        <!--<csrf disabled="true"/>-->
    <!--</http>-->

    <beans:bean id="digestFilter" class=
        "org.springframework.security.web.authentication.www.DigestAuthenticationFilter">
        <beans:property name="userDetailsService" ref="userDetailsService" />
        <beans:property name="authenticationEntryPoint" ref="digestEntryPoint" />
    </beans:bean>

    <beans:bean id="digestEntryPoint" class=
        "org.springframework.security.web.authentication.www.DigestAuthenticationEntryPoint">
        <beans:property name="realmName" value="Contacts Realm via Digest Authentication"/>
        <beans:property name="key" value="acegi" />
    </beans:bean>

    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="userDetailsService">
            <password-encoder hash="plaintext"> </password-encoder>
        </authentication-provider>
    </authentication-manager>

</beans:beans>
